<nav class="navbar navbar-expand-sm navbar-dark bg-dark ">
    <a class="navbar-brand" href="#">RMS</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    
<!-- <state-insert></state-insert>
 
<state-list></state-list> -->
 
<!-- <city-list></city-list> -->
<!-- <city-insert></city-insert>  -->
<!-- <designation-list></designation-list> -->
<!-- <designation-insert></designation-insert> -->
<!-- <location-list></location-list> -->
<!-- <location-insert></location-insert> -->
<!-- <dining-list></dining-list>
<dining-insert></dining-insert> -->
<!-- <restaurant-insert></restaurant-insert>
<restaurant-list></restaurant-list> -->
<!-- <employee-list></employee-list> -->
<!-- <employee-insert></employee-insert> -->
<!-- <menu-list></menu-list> -->
<!-- <menu-insert></menu-insert> -->
<!-- <order-list></order-list>
<order-inert></order-inert>
<shift-insert></shift-insert>
<shift-list></shift-list>

<permission-list></permission-list>
<permission-insert></permission-insert>
<role-insert></role-insert>
<role-list></role-list>
<user-list></user-list>-->
<user-insert></user-insert>


</div>
