<form>
    <div class="card">
        <div class="card-header bg-primary text-light">
            Designation Insert Form  
        </div>
        <div class="card-body">
            <div class="form-group">
                <label>Id</label>
                <input type="text" class="form-control" name="desigId" [(ngModel)]="designation.desigId">
            </div>
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" name="desigName" [(ngModel)]="designation.desigName">
            </div> 
        </div>
        <div class="card-footer">
            <button class="btn btn-success">Save</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-danger">Cancel</button>
        </div>
    </div>
</form>