<form>
    <div class="card">
        <div class="card-header bg-primary text-light">
            Shift Insert Form  
        </div>
        <div class="card-body">
            <div class="form-group">
                <label>order Id</label>
                <input type="text" class="form-control" name="eId" [(ngModel)]="shift.eId">
            </div>
            <div class="form-group">
                <label>Sift Type</label>
                <input type="text" class="form-control" name="sType" [(ngModel)]="shift.sType">
            </div> 
            <div class="form-group">
                <label>Date</label>
                <input type="text" class="form-control" name="date" [(ngModel)]="shift.date">
            </div> 
          
            
        </div>
        <div class="card-footer">
            <button class="btn btn-success">Save</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-danger">Cancel</button>
        </div>
    </div>
</form>